body {
  max-width: 500px;
}

img {
  border-radius: 50%;
  max-height: 60px;
}

h1 {
  text-align: center;
  padding: 30px;
  font-weight: bold;
  font-size: 20px;
}

p {
  padding: 10px 10px 10px 30px;
  font-size: 15px;
}

main {
  padding: 30px;
}

.input-area {
  display: flex;
  flex-wrap: wrap;
}
#title {
  margin-right: 200px;
  margin-bottom: 10px;
}
#text {
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.button-area {
  display: flex;
  justify-content: center;
}
button {
  max-width: 200px;
  padding: 20px 60px;
}
#save {
  padding: 20px 35px;
}
ul {
  margin-top: 30px;
}
li {
background-color: navy;
margin-top: 30px;
margin-left: 30px;
margin-right: 30px;
color: aliceblue;
animation-name:fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity:0;
}
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

#imghyouzi {
  padding: 10px;
}